/* src/app/components/button-bar/button-bar.component.scss */
ion-tab-bar {
    --background: #f8f8f8; /* Color de fondo de la barra de pestañas */
    --color: #000; /* Color del texto de las pestañas */
    --color-selected: #3880ff; /* Color de la pestaña seleccionada */
    height: 60px; /* Altura de la barra de pestañas */
  }
  
  ion-tab-button {
    --padding: 0px; /* Ajusta el padding si es necesario */
    --icon-size: 24px; /* Tamaño del icono */
    --label-font-size: 12px; /* Tamaño del texto */
  }
  
  ion-icon {
    font-size: 24px; /* Tamaño del icono */
  }
  
  ion-label {
    font-size: 12px; /* Tamaño del texto */
  }

  
  ion-tabs {
    height: 170%; /* Asegúrate de que el contenedor ocupe el 100% del alto */
  }
  
ion-tab-bar {
    position: fixed; /* Asegúrate de que la barra de pestañas esté fija en la parte inferior */
    bottom: 0;
    width: 100%;
}

.active {
    color: red; /* O cualquier estilo que te ayude a verificar */
}  