<ion-content [fullscreen]="true">
  
  <div class="profile-avatar-container" (click)="uploadImage()">
    <div 
      class="profile-avatar" 
      [ngStyle]="{ 'background-image': userImage ? 'url(' + userImage + ')' : '' }">
    </div>
  </div>

  <ion-item *ngIf="!userImage">
    <ion-label position="stacked">URL de imagen</ion-label>
    <ion-input placeholder="Introduce la URL de la imagen" [(ngModel)]="imageUrl"></ion-input>
    <ion-button expand="full" (click)="setImageUrl()">Cargar Imagen</ion-button>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-text>{{ userName }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{ userEmail }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Gustos</ion-label>
      <ion-text>{{ userGustos }}</ion-text>
      <ion-icon name="add-circle-outline" slot="end" (click)="toggleAccordion()"></ion-icon>
    </ion-item>
    
    <ion-accordion-group *ngIf="showAccordion">
      <ion-accordion value="gustosAccordion">
        <ion-item slot="header">
          <ion-label>Agregar Gustos</ion-label>
        </ion-item>
        <ion-item slot="content">
          <ion-input placeholder="Escribe tus gustos" [(ngModel)]="newGusto"></ion-input>
          <ion-button expand="full" (click)="addGusto()">Agregar</ion-button>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
    <ion-item *ngIf="userLocation">
      <ion-label>Ubicación</ion-label>
      <ion-text>{{ userLocation }}</ion-text>
    </ion-item>


  </ion-list>
  <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
</ion-content>

<app-button-bar class="button-bar"></app-button-bar>
