
<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar class="golden-toolbar">
    <div class="header-content">
      <ion-title class="square-title">Busca a tu bro</ion-title>
      <div class="user-avatar" 
           [ngStyle]="{ 'background-image': userImage ? 'url(' + userImage + ')' : '' }">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centered-div">
    <h2 class="centered-title">
      <span>¡</span><span>B</span><span>i</span><span>e</span><span>n</span><span>v</span><span>e</span><span>n</span><span>i</span><span>d</span><span>o</span><span>,</span>
      <span> {{ userName }}!</span>
    </h2>
  </div>

  <div class="game-card" (click)="zoomImage()">
    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDNpY3E2N2ZwcTF2bm1jZmdlcXBtY3h5MWx1eTF0ZGRrZTg0OGQ0cSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Y3fG04twT4Mgeps5oG/giphy.webp" alt="Descripción de la carta" class="card-image" />
    <p class="card-content">Busca a tu bro</p>
  </div>
  
  <div class="game-card" (click)="zoomImage()">
    <img src="https://c.tenor.com/qcYlFf9IyQ8AAAAd/tenor.gif" alt="Descripción de la carta" class="card-image" />
    <p class="card-content">Busca a tu bro</p>
  </div>
</ion-content>

<app-button-bar class="button-bar"></app-button-bar>